<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BearClaw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BearClaw.Properties.Settings>
            <setting name="MonitorUrl" serializeAs="String">
                <value>http://www.job0663.com/search/offer_search_result.aspx?keyword=外贸&amp;jtype1Hidden=&amp;jcity1Hidden=102000&amp;page=1&amp;tt={0}</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EMailServer" serializeAs="String">
                <value>smtp.sina.com</value>
            </setting>
            <setting name="EMailUserName" serializeAs="String">
                <value>bearclaw100@sina.com</value>
            </setting>
            <setting name="EMailPsd" serializeAs="String">
                <value>bearclaw100</value>
            </setting>
            <setting name="EnableTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableEmail" serializeAs="String">
                <value>True</value>
            </setting>
        </BearClaw.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
