<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codaxy.Xlio" version="0.9.3.26" targetFramework="net45" />
  <package id="FastExcel" version="1.0.16.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.60" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.60" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.60" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.Sqlite.Windows" version="4.0.60" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.60" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net45" />
</packages>